#colors {

    .items {
        .item {
            text-align: center;
            margin-bottom: 40px;

            .box-color {
                height: 100px;
                width: 100%;
                max-width: 200px;
                border-radius: 10px;
                margin: 0 auto;
                display: block;
                margin-bottom: 20px;
                background: grey;

                &.color-1 {
                    background: #1734f0;
                }
                &.color-2 {
                    background: #52cef5;
                }
                &.color-3 {
                    background: #827af6;
                }
                &.color-4 {
                    background: #e27587;
                }
                &.color-5 {
                    background: #003fbf;
                }
                &.color-6 {
                    background: #f6f6fd;
                    border: 1px solid #ccc;
                }
                &.color-7 {
                    background: #080532;
                }
                &.color-8 {
                    background: #091420;
                }
            }

            span {
                display: block;
            }
        }
    }
}