#typography {

    .primary {
        font-family: $ff-title;
        border-right: 1px solid $grey-dark;
        margin-right: 60px;

        h2,
        h3,
        h4,
        p {
            font-family: $ff-title !important;
        }

        small {
            display: block;
            margin-top: 40px;
        }
    }

    .secondary {
        font-family: $ff;

        h2,
        h3,
        h4,
        p {
            font-family: $ff !important;
        }
    }



    h2.h1 {
        font-size: 120px;
        font-weight: 700;

    }

    h3.h2 {
        font-size: 46px;
        font-weight: 700;
    }

    .alphabet {
        margin-top: 40px;

        span {
            display: inline-block;
            margin-right: 20px;
            margin-bottom: 15px;

            &.numbers {
                display: block;
            }

            p {
                font-size: 18px;
            }
        }
    }

    .button.submit {
        display: block;
    }
}