.button {
    position: relative;
    display: inline-block;
    line-height: 1;
    // padding: 1.5rem 3.5rem 1.5rem 2rem;
    transition: all 0.3s cubic-bezier(0.24, 0.9, 0.46, 0.91);
    border-radius: .6rem;
    font-family: $ff-title;
    font-size: 1.6rem;
    font-weight: 400;
    margin: 2rem 0;
    border: 1px solid transparent;

    &.primary {
        background-color: $primary;
        color: #fff;
        border: 1px solid transparent;
        
        &:hover {
            background-color: darken($primary, 10%);
            border: 1px solid transparent;
        }
    }

    &.secondary {
        background-color: transparent;
        border: 1px solid darken($primary, 10%);
        color: $primary;

        &:hover {
            background-color: $primary;
            color: $color-txt-light;
        }
    }

    &.tertiary {
        background-color: $tertiary;
        color: #fff;

        &:hover {
            border: 1px solid darken($tertiary, 10%);
            background-color: darken($tertiary, 10%);
        }
    }

    &.outlined {
        background: transparent;
        border: 2px solid $primary;
        color: $tertiary;

        &:hover {
            border: 2px solid $tertiary;
        }
    }

    &.white {
        background: #fff;
        color: $primary;

        &:hover {
            background: transparent;
            border: 1px solid #fff;
            color: #fff;
        }
    }

    &.arrow {
        &:after {
            content: '\f105';
            font-family: "Font Awesome 5 Free";
            position: absolute;
            top: 53%;
            transform: translateY(-50%);
            font-style: normal;
            font-variant-caps: normal;
            font-variant-ligatures: normal;
            font-weight: 600;
            height: 16px;
            line-height: 16px;
            text-rendering: auto;
            width: 16px;
            -webkit-font-smoothing: antialiased;
            right: 1rem;
            transition: .3s ease-out;
        }
    }

    &.arrow-back {
        &:after {
            content: '\f105';
            font-family: "Font Awesome 5 Free";
            position: absolute;
            top: 53%;
            transform: translateY(-50%) rotate(180deg);
            font-style: normal;
            font-variant-caps: normal;
            font-variant-ligatures: normal;
            font-weight: 600;
            height: 16px;
            line-height: 16px;
            text-rendering: auto;
            width: 16px;
            -webkit-font-smoothing: antialiased;
            left: -1rem;
            transition: .3s ease-out;
        }
    }

    &.web {
        background: transparent;
        color: $primary;
        font-size: 2.2rem;
        font-weight: 600;
        padding-left: 2rem;

        &:before {
            content: '\f105';
            font-family: "Font Awesome 5 Free";
            position: absolute;
            top: 53%;
            left: 0;
            transform: translateY(-50%);
            font-style: normal;
            font-variant-caps: normal;
            font-variant-ligatures: normal;
            font-weight: 600;
            width: 8px;
            height: 16px;
            line-height: 16px;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            transition: .3s ease-out;
            color: $web;
        }

        &:hover {
            background: transparent;
            color: $primary;


            &:before {
                transform-origin: 4px 8px;
                transform: translateX(-50%) rotate(90deg);
            }
        }
    }

    &.search {
        padding: 1.2rem 2rem;

        input {
            border: 0;
            outline: 0;
            font-size: 1.6rem;
        }

        svg {
            width: 2rem;
            height: 2rem;
            position: absolute;
            right: 2rem;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

// read more link

a.more {
    display: inline-block;
    margin-top: 2rem;
    font-size: 1.4rem;
    font-weight: 600;
}

// Back button

a.back {
    position: relative;
    display: inline-block;
    padding-left: 1rem;
    margin: 2rem 0;
    transition: all 0.6s cubic-bezier(0.24, 0.9, 0.46, 0.91);
    font-family: $ff-title;
    font-size: 1.4rem;

    &:before {
        content: "prev";
        position: absolute;
        top: 51%;
        left: 0;
        transform: translate(0, -50%);
        width: 1rem;
        height: 1rem;
        font-family: swiper-icons;
        font-size: .8rem;
        letter-spacing: 0;
        text-transform: none;
        font-variant: initial;
        line-height: 1.1rem;
        font-weight: 600;
        opacity: 1;
        transition: all 0.6s cubic-bezier(0.24, 0.9, 0.46, 0.91);
    }

    &:hover {
        transform: translateX(.2rem);

        &::before {
            transform: translate(-.5rem, -50%);
            opacity: 1;
            left: 0;
        }
    }
}

a:not(.button) {
    position: relative;

    &.arrow {
        padding-right: 2rem;

        &:after {
            content: '\f105';
            font-family: "Font Awesome 5 Free";
            position: absolute;
            top: 53%;
            right: 0;
            transform: translateY(-50%);
            font-style: normal;
            font-variant-caps: normal;
            font-variant-ligatures: normal;
            font-weight: 600;
            height: 16px;
            line-height: 16px;
            text-rendering: auto;
            width: 16px;
            -webkit-font-smoothing: antialiased;
            transition: .3s ease-out;
        }
    }
}