// Colors

$primary: #080532;
$secondary: #fcc314;
$tertiary: #001e55;

$consulting: #e27587;
$cloud: #52cef5;
$web: #827af6;

$color-bg: #fff;
$color-txt: #091420;
$color-txt-light: #f6f6fd;
$color-txt-grey: #b2b2bd;


$color-bg-cta: #f6f6fd;

$anderson: #003FBF;

// Color Lines

$grey-light: #f8f9fd;
$grey-dark: #99a5bb;

$color-link: $primary;
$color-hover: darken($primary, 10%);

$color-bd: #000;
$color-bd-light: #fff;


// fonts
@import url("https://use.typekit.net/onx2xtk.css");
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600&display=swap');

$ff-title : proxima-nova, Arial, sans-serif;
$ff: 'Karla', Arial, sans-serif;

// Screen sizes

$xs: 360px;
$sm: 540px;
$md: 768px;
$lg: 992px;
$xl: 1238px;
$xxl: 1400px;
