label.box {
    background: darken($color-txt-light, 3%);
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid transparent;
    width: 100%;
    text-align: center;
    min-height: 100px;
    margin-top: 20px;
    display: flex !important;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    transition: .2s ease-out;
    font-family: $ff-title;
    font-size: 24px;
    font-weight: 700;

    img {
        max-height: 3rem;
    }

    &:hover {
        background: darken($color-txt-light, 10%);
    }

    &.radio {
        min-height: 60px;
    }

}

input[type="checkbox"].invisible,
input[type="radio"].invisible {
    display: none;

    &:checked~label.box {
        border: 2px solid $anderson;

        &:after {
            content: '';
            width: 20px;
            height: 20px;
            background: $anderson;
            position: absolute;
            top: -10px;
            right: -10px;
            border-radius: 50px;
        }

        &:before {
            content: '✓';
            width: 20px;
            height: 20px;
            position: absolute;
            top: -8px;
            right: -10px;
            color: #fff;
            z-index: 2;
            font-size: 13px;
        }
    }
}