.main-menu {
    li.item {



        &:hover,
        &:focus,
        &:active {
            color: $color-txt-light;
        }

        a {
            background-size: contain;
            background-repeat: no-repeat;
            background-position: left center;
            background-position: 5% 50%;
            background-size: 28px;

            &.router-link-exact-active {
                background-color: $color-txt-light;
                color: $primary;
            }
        }

        a {
            padding: 20px;
            padding-left: 60px;
            display: block;
            border-radius: 10px;
            font-size: $ff-title;
            font-weight: 700;
            color: $color-txt-light;

            &.router-link-exact-active {}
        }

        &.item-logo {
            a {
                background-image: url('./images/logo-white.svg');

                &.router-link-exact-active {
                    background-image: url('./images/logo.svg');
                }
            }

            &:hover {
                a {
                    background-color: $color-txt-light;
                    color: $primary;
                    background-image: url('./images/logo.svg');
                }
            }
        }

        &.item-typo {
            a {
                background-image: url('./images/typo-white.svg');
                &.router-link-exact-active {
                    background-image: url('./images/typo.svg');
                }
            }

            &:hover {
                a {
                    background-color: $color-txt-light;
                    color: $primary;
                    background-image: url('./images/typo.svg');
                }
            }
        }

        &.item-colors {
            a {
                background-image: url('./images/colors-white.svg');
                &.router-link-exact-active {
                    background-image: url('./images/colors.svg');
                }
            }

            &:hover {
                a {
                    background-color: $color-txt-light;
                    color: $primary;
                    background-image: url('./images/colors.svg');
                }
            }
        }

        &.item-icones {
            a {
                background-image: url('./images/icones-white.svg');
                &.router-link-exact-active {
                    background-image: url('./images/icones.svg');
                }
            }

            &:hover {
                a {
                    background-color: $color-txt-light;
                    color: $primary;
                    background-image: url('./images/icones.svg');
                }
            }
        }

        &.item-graphics {
            a {
                background-image: url('./images/graphics-white.svg');
                &.router-link-exact-active {
                    background-image: url('./images/graphics.svg');
                }
            }

            &:hover {
                a {
                    background-color: $color-txt-light;
                    color: $primary;
                    background-image: url('./images/graphics.svg');
                }
            }
        }

        &.item-modeles {
            a {
                background-image: url('./images/modeles-white.svg');
                &.router-link-exact-active {
                    background-image: url('./images/logo.svg');
                }
            }

            &:hover {
                a {
                    background-color: $color-txt-light;
                    color: $primary;
                    background-image: url('./images/modeles.svg');
                }
            }
        }
    }
}