<template>
  <nav id="nav">
    <router-link to="/">Home</router-link> |
    <router-link to="/typography">Typography</router-link>
    <router-link to="/colors">Couleurs</router-link>
    <router-link to="/icones">Icones</router-link>
    <router-link to="/graphics">Éléments graphiques</router-link>
    <router-link to="/modeles">Modèles</router-link>
  </nav>
</template>

<script>
export default {
  name: "Nav",
};
</script>

<style>
</style>