// Vendor

@import "~bulma/bulma";
@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/grid/columns.sass";

// Custom Anderson

@import "globals/variables.scss";
@import "globals/buttons.scss";
@import "components/nav.scss";
@import "components/form.scss";
@import "pages/typo.scss";
@import "pages/colors.scss";

html {
    height: 100vh;

    body {
        height: 100%;

        #app {
            height: 100vh;
            width: 100%;
        }

        h1 {
            font-size: 56px;
            font-weight: 700;
            font-family: $ff-title;
        }

        h2 {
            font-family: $ff-title;

        }

        h4 {
            font-family: $ff;
            font-weight: 700;
            color: $grey-dark;
        }

        #content {
            height: 100vh;
            padding: 2rem 4rem;
        }

        section {
            height: 100%;
        }


        .wrapper {
            height: 100%;
        }
    }
}


:root {
    --background-color-primary: #f6f6fd;
    --background-color-secondary: #f6f6fd;
    --accent-color: #cacaca;
    --text-primary-color: #091420;
    --element-size: 4rem;
}

:root.dark-theme {
    --background-color-primary: #091420;
    --background-color-secondary: #091420;
    --accent-color: #cacaca;
    --text-primary-color: #f6f6fd;
}

h1,
h2,
h3,
p,
span,
small,
strong {
    color: var(--text-primary-color);
}


#content {
    border: 1px solid var(--accent-color);
    background-color: var(--background-color-secondary);
}

.button.primary {
    background-color: var(--text-primary-color);
    color: var(--background-color-primary);

    &:hover {
        background: var(--accent-color);
        color: var(----text-primary-color);
    }

}

.switch-toggle-checked {
    transform: translateX(calc(var(--element-size) * 0.4)) !important;
}

.switch {
    position: fixed;
    top: 20px;
    right: 20px;
}

.switch-checkbox {
    display: none;
}

.switch-label {
    /* for width, use the standard element-size */
    width: 3rem;

    /* for other dimensions, calculate values based on it */
    border-radius: var(--element-size);
    padding: calc(var(--element-size) * 0.1);
    font-size: calc(var(--element-size) * 0.3);
    height: calc(var(--element-size) * 0.35);

    align-items: center;
    background: var(--text-primary-color);
    cursor: pointer;
    display: flex;
    position: relative;
    transition: background 0.5s ease;
    justify-content: space-between;
    z-index: 1;

    span {
        font-size: .7rem;

        &:last-of-type {
            margin-left: 8px;
            display: inline-block;
        }
    }
}

.switch-toggle {
    position: absolute;
    background-color: var(--background-color-primary);
    border-radius: 50%;
    border: 1px solid var(--text-primary-color);
    top: calc(var(--element-size) * -0.03);
    left: calc(var(--element-size) * -0.01);
    height: calc(var(--element-size) * 0.4);
    width: calc(var(--element-size) * 0.4);
    transform: translateX(0);
    transition: transform 0.3s ease, background-color 0.5s ease;
}

.disabled-on-tablet {
    display: none;
    padding: 4rem;

    @media (max-width: 999px) {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $primary;
        z-index: 9999;

    }
}