<template>
  <div id="app">
    <div class="disabled-on-tablet">
      <div class="block">
        <article class="message is-warning mt-4">
          <div class="message-body">
            La version tablette et mobile n'est pas encore disponible.
          </div>
        </article>
      </div>
    </div>
    <div class="main-content">
      <Sidebar />
      <Content />
    </div>
  </div>
</template>

<script>
import Sidebar from "./components/Sidebar.vue";
import Content from "./components/Content.vue";
export default {
  name: "App",
  components: {
    Sidebar,
    Content,
  },
};
</script>



<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100vh;
  text-align: left;

  .main-content {
    height: 100%;
  }
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
